<div class="bg-[#d8ff6d] py-4 px-2 pt-0">
        <div class="py-1 bg-[#f2f6e6be] rounded-full w-fit">
            <p>{{name}}</p>
        </div>
        <p class="text-center">Total Balance</p>
        <p class="text-center text-3xl">&#8377 {{formatnum curbalance}}</p>
    </div>